    h6 {
  color: green;
 
  text-decoration: overline underline 7px #4c956c dotted;
  letter-spacing: 3px;
}
      img:hover{
        border-radius: 5000px;
}
body{
background-color: pink;
}
nav {
  list-style-type: none;
  background-color: pink;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

li a {
  text-decoration: dots;
  color: green;
  display: block;
  float: left;
  padding: 15px 199.5px;
}

li a:hover{
  background-color: #4c956c;
  color: pink;
}
    h6 {
  color: green;
 
  text-decoration: overline underline 7px #4c956c dotted;
  letter-spacing: 3px;
}
